<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header><br><br>
	
	<div class="container mt-5">
	
  <div class="card">
    <div class="card-header">
	<h1>Informacion del evento</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title" th:text="${evento.nombre}"></h5>
      <p class="card-text" th:text="${evento.descripcion}"></p>
      <ul class="list-group list-group-flush">
		<li class="list-group-item"><strong>Fecha:</strong> <span th:text="${#dates.format(evento.fecha, 'dd/MM/yyyy')}"></span><br><strong> Hora:</strong> <span th:text="${evento.hora}"></span></li>
        <li class="list-group-item"><strong>Ubicación:</strong> <span th:text="${evento.ubicacion}"></span></li>
        <li class="list-group-item"><strong>Numero máximo de participantes:</strong> <span th:text="${evento.numeroParticipantes}"></span></li>
        <li class="list-group-item" th:text="${evento.verificacion}"></li>
       
      </ul>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-primary">Editar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div><br><br>
	
	
</body>
<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
</html>