<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Información del Viaje</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments/menu :: menu-principal"></header><br><br>

    <div class="container mt-5">

      <div class="card">
        <div class="card-header">
            <h1>Información del Viaje</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Destino:</strong> <span th:text="${viaje.destino}"></span></h5>
          <p class="card-text" th:text="${viaje.descripcion}"></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Salida:</strong> <span th:text="${viaje.salida}"></span></li>
            <li class="list-group-item"><strong>Transporte:</strong> <span th:text="${viaje.transporte}"></span></li>
            <li class="list-group-item"><strong>Fecha de Inicio:</strong> <span th:text="${viaje.fechaInicio}"></span><strong> Hora de salida:</strong> <span th:text="${viaje.horaSalida}"></span></li>
            <li class="list-group-item"><strong>Fecha de Regreso:</strong> <span th:text="${viaje.fechaFin}"></span><strong> Hora de regreso:</strong> <span th:text="${viaje.horaRegreso}"></span></li>
            <li class="list-group-item"><strong>Presupuesto:</strong> <span th:text="${viaje.presupuesto} + ' €'"></span></li>
          </ul>
        </div>
        
        <div class="card-footer text-muted">
            <a th:href="@{/modificarViaje/{id} (id=${viaje.id}) }" class="btn" style="background-color: #C39BD3;"><strong>Editar</strong></a>
        	<a th:href="@{/eliminarViaje/{id} (id=${viaje.id}) }" class="btn" style="background-color: #ff684b;"><strong>Borrar</strong></a> 
       </div>
      </div>
    </div><br><br>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
</body>
</html>
