<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario de Viaje</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    body {
        background-color: #f8f9fa;
        font-family: Comic Sans MS;
    }
        .fade-in {
            animation: fadeIn 0.5s ease-in-out;
        }
    @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
</style>
</head>
<body>
    <header th:insert="fragments/menu :: menu-principal"></header>

    <div class="container mt-5 fade-in">
        <h1 class="mb-4">Crea tu propio Viaje</h1>
        <form th:action="@{/guardarViaje}" method="POST" th:object="${viaje}">
            <div class="mb-3">
                <input type="hidden" th:field="*{id}">
                <label for="destino" class="form-label">Destino:</label>
                <input type="text" th:field="*{destino}" class="form-control" id="destino" placeholder="Ingrese el destino del viaje" required>
            </div>
            <div class="mb-3">
                <label for="salida" class="form-label">Punto de Salida:</label>
                <input type="text" th:field="*{salida}" class="form-control" id="salida" placeholder="Ingrese el lugar de salida del viaje" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <input type="text" th:field="*{descripcion}" class="form-control" id="descripcion" placeholder="Ingrese una descripción del viaje" required>
            </div>
            <div class="mb-3">
                <label for="transporte" class="form-label">Transporte de ida:</label>
                <select th:field="*{transporte}" class="form-select" id="transporte" required>
                    <option value="Avion">Avión</option>
                    <option value="Tren">Tren</option>
                    <option value="Autobus">Autobús</option>
                    <option value="Coche">Coche</option>
                </select>
            </div>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="fechaInicio" class="form-label">Fecha de Salida:</label>
                    <input type="date" th:field="*{fechaInicio}" class="form-control" id="fechaInicio" required>
                </div>
                <div class="col-md-6">
                    <label for="horaSalida" class="form-label">Hora de salida:</label>
                    <input type="time" th:field="*{horaSalida}" class="form-control" id="horaSalida" required>
                </div>
                <div class="mb-3">
                    <label for="transporteRegreso" class="form-label">Transporte de Regreso:</label>
                    <select th:field="*{transporteRegreso}" class="form-select" id="transporteRegreso" required>
                        <option value="Avion">Avión</option>
                        <option value="Tren">Tren</option>
                        <option value="Autobus">Autobús</option>
                        <option value="Coche">Coche</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="fechaFin" class="form-label">Fecha de Regreso:</label>
                    <input type="date" th:field="*{fechaFin}" class="form-control" id="fechaFin" required>
                </div>
                <div class="col-md-6">
                    <label for="horaRegreso" class="form-label">Hora de Regreso:</label>
                    <input type="time" th:field="*{horaRegreso}" class="form-control" id="horaRegreso" required>
                </div>
                <div class="mb-3">
                    <label for="presupuesto" class="form-label">Presupuesto en €:</label>
                    <input type="number" th:field="*{presupuesto}" class="form-control" id="presupuesto" placeholder="Ingrese el presupuesto del viaje" required>
                </div>
            </div>
            <button type="submit" class="btn" style="background-color: #C39BD3;"><strong>Guardar</strong></button>
        </form>
    </div><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
</html>
